div
{
    display: flex;
    height: 300px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
   
}
div:nth-child(1)
{
    background-color: green;
    flex-shrink: 2;

    order: 1;
}
div:nth-child(2)
{
    background-color: yellow;
    flex-grow: 4;

    order: 3;
}
div:nth-child(3)
{
    background-color: purple;
    flex-shrink: 2;

    order: 2;
}